@import '../../style/variable.scss';

section#tab {
  ul {
    display: inline-flex;
    column-gap: 10px;
    border-bottom: 1px $black solid;
    li {
      button {
        font-size: 18px;
        padding: 10px 40px;
        border: 1px $sub-blue solid;
        border-bottom: none;

        background-color: $white;
        &:hover {
          cursor: pointer;
          background-color: $hover-blue;
        }
      }

      &.active {
        button {
          border-top: 3px $sub-blue solid;
        }
      }
    }
  }
}
